.navbar{
    display: flex;
    /* border: 3px solid red; */
    height: 100px;
    /* border: red; */
    gap:40px;
    padding: 30px 20px;
    justify-content: space-between;
}
.navbar > .nava{
    height: 72px;
    font-weight: 700;
    font-size: 48px;
}
nav >div{
    width :20%;
    gap: 10px;
   
    display: flex;
    align-items: center;
}
nav > input{
    width :597px;
    /* flex-grow: 2; */
    background-color: #262626;
    border-radius: 20px;
    height: 53px;
    top: 33px;
    left: 319px;
}
nav input , nav button{
    background-color: rgba(38, 38, 38, 1);
    border-color:  rgba(38, 38, 38, 1);
    padding: 6px 20px;
    border-radius: 10px;
}


.sector{
    background: rgb(38, 38, 38);
    padding: 20px;
    margin: 20px 50px;
    border-radius: 15px;
}
.header-container{
    display: flex;
    justify-content: space-between;
}
.header-left > .headaer-ins{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}
.small-img{
    width: 80px;
}
.large-img{
    width: 190px;
}
.header-right{

    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}
.header-right > .para{
    background-color: yellow;
    color: black;
    width: 160px;
    height: 57px;
    border-radius: 28px;
    font-weight: 900;
    line-height: 52px;
}
.header-left > .header-ins{
    display: flex;
    gap: 30px;
    margin: 30px 0;
    
}
.header-right > .header-ins{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.category-sector{
    margin: 20px 50px;
   
}
.para-main{
    
     border: 2px solid rgb(227, 20, 20);
    display: flex;
    flex-flow: row wrap;
    padding:0  10px;
    gap: 4%;
    /* justify-content: ;*/
} 
.para{
    color: #941f1f;
    width: 25%;
    border: 2px solid rgba(38, 38, 38, 1);
    margin: 10px;
    padding: 5PX;
    border-radius: 5PX;

}